<div class="col-md-1"></div>
<div  class="col-md-10 subcontent1 responsive">
	<div  class="col-md-12 aboutcontent">
		<h3>ABOUT US</h3>
		<div class="col-md-12">
			<p>
				Welcome to RoomApp, Thanks for choosing us......
			</p>
		</div>

		<div class="col-md-12">
			<h3>Who are we?</h3>
			 <p> 
			 I am an enthusiastic web application Developer, to develop websites for our daily needs to keep them simple.
			"make it simple" is our caption.... "it" simply indicates our need.
			</p>
		</div>

		<div class="col-md-12">
			<h3>What is this application?</h3>
			<p>
				This is RoomApplication, which is used to calculate our day to day finance related things shares  among group of persons stay's together. This application is intended for make things simple, saving time, providing security for data and no worry about loosing data.
			</p>
		</div>

		<div class="col-md-12">
			<h3>How does it work?</h3>
			<p>
			  You can register with this app, by creating a room from register option and the registered person is admin by default.He can add members to the room. Once you registered everything seems to be instructed well in a way...... 

			  for your convenience go through below options for better user experience...... 

				<div class="col-md-12">
					<span style="color: navy;font-weight: 600;font-family: Arial;font-size: 16px;">For video description click here </span>
					<a href="https://www.youtube.com/watch?v=bqJm3yhlfRY&feature=youtu.be" target="_blank">
						<img src="/static/images/social_icons/youtubelogo.png" style="position: relative;top: -2px;left: -37px;width: 150px;height: 90px;" />
					</a>
				</div>
			</p>
		</div>

		<div class="col-md-12">
			<h3>For whom this intended?</h3>
			<p>
			Bachelors stay's in Rented Rooms.Of course, anyone interested can use this, but mostly designed for Bachelors, because they stay here for studying, searching for jobs, job holders and etc., who has their daily work, but still, they have to spend lot of time by calculating daily financial things day by day or monthly hours by hours.It is really difficult to get availability of all room members at a time.Even there is a chance of losing data as well.So here is the Solution!who has to share their daily groceries(rice-bag, flour, oil, gas...), food items(curries,milk, cheese, bread and butter), furnitures(sofa, cot..), electronics(fridge, ac) and remaining things(Room rent, water, electricity, internet bills....) anything else, room members can enter all info by online from anywhere and calculate and share information from anytime by RoomApp.RoomApp supports one more keen feature that, there is no COMPULSION of sharing things equally, you can SHARE  your usage and WISH
			</p>
		</div>
		<div class="col-md-12">
			<p>
				Hope this may save your time and help you to spend your valuable time with your loving ones......
			</p>
		</div>

	</div>
</div>
<div class="ui col-md-1"></div>