<div class="col-md-3">
</div>

<div  class="col-md-6 subcontent responsive">
  <div class="col-md-12">
    <h3 style="text-align: center;">Change Password</h3>
    <span class="req_msg">Please Fill out all required fields with (*) mark</span>
    <div class="col-md-12 text-danger" ng-show="errmsg">{{errmsg}}</div>
    <div class="col-md-12 text-success" ng-show="successmsg">{{successmsg}}</div>
    <form name="ChangePwdForm" ng-submit="changeuserpassword(changepwd_user)"  novalidate>

      <div class="form-group">
        <label for="user_email">User Name <span>*</span></label>
        <div class="input-group">
          <input type="email" class="form-control" ng-model="changepwd_user.user_email" name="user_email" id="user_email" placeholder="Enter Email" required>
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
        </div>
        <small class="text-muted" ng-show="ChangePwdForm.user_email.$invalid && !ChangePwdForm.user_email.$pristine" class="help-block">Email required!</small>
      </div>

      <div class="form-group">
        <label for="password">Password <span>*</span></label>
        <div class="input-group">
          <input type="password" class="form-control" ng-model="changepwd_user.password" name="password" id="password" placeholder="Password" required>
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        </div>
        <small class="text-muted" ng-show="ChangePwdForm.password.$invalid && !ChangePwdForm.password.$pristine" class="help-block">Password required!</small>
      </div>

      <div class="form-group">
        <label for="new_password">New Password <span>*</span></label>
        <div class="input-group">
          <input type="password" class="form-control" ng-model="changepwd_user.new_password" name="new_password" id="new_password" placeholder="New Password" required>
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        </div>
        <small class="text-muted" ng-show="ChangePwdForm.new_password.$invalid && !ChangePwdForm.new_password.$pristine" class="help-block">New Password required!</small>
      </div>

      <div class="form-group">
        <label for="ConfirmNewPassword">Confirm New Password <span>*</span></label>
        <div class="input-group">
            <input type="password"
                          class="form-control" 
                          id="confirmnewpassword"
                          name="confirmnewpassword"
                          ng-model="changepwd_user.cnfnwpassword"
                          ng-pattern="/^[a-zA-Z0-9]*$/"
                          placeholder="Re-Enter Password" required>
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        </div>
        <small class="text-muted" ng-show="changepwd_user.cnfnwpassword != changepwd_user.new_password && !ChangePwdForm.confirmnewpassword.$pristine">Confirm New Password does not match to New Password</small><br>
        <small class="text-muted" ng-show="ChangePwdForm.confirmnewpassword.$invalid && !ChangePwdForm.confirmnewpassword.$pristine" class="help-block">Confirm New Password required!</small>
      </div>
      
      <button type="submit" class="btn btn-info" ng-disabled="ChangePwdForm.$invalid || changepwd_user.cnfnwpassword != changepwd_user.new_password">Change</button>
    </form>
  </div>
  <div class="col-md-12">
    <a ui-sref="login">Login</a>
  </div>
</div>

<div class="col-md-3"></div>