<!-- <button ng-click="get_all_users()">Get All Users</button>
 --> 
<h3>Update Details</h3>
<div class="col-md-5">   
<span class="req_msg">Please Fill out all required fields with (*) mark</span> 
<form name="editMemberForm" ng-submit="update_user(rm_member)"  novalidate>
    <div class="form-group" ng-class="{ 'has-error' : editMemberForm.user_name.$invalid && !editMemberForm.user_name.$pristine }">
      <label>User Name <span>*</span></label>
      <div class="input-group">
        <input type="text" name="user_name" class="form-control" ng-model="rm_member.user_name" required>
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      </div>
      <small ng-show="editMemberForm.user_name.$invalid && !editMemberForm.user_name.$pristine" class="help-block">Whats the Item!</small>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : editMemberForm.user_email.$invalid && !editMemberForm.user_email.$pristine }">
      <label for="user_email">Email <span>*</span></label>
      <div class="input-group">
        <input type="email" name="user_email" class="form-control" ng-model="rm_member.user_email"  id="user_email" placeholder="Enter Email" required>
        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
      </div>
      <small class="text-muted" ng-show="editMemberForm.user_email.$invalid && !editMemberForm.user_email.$pristine" class="help-block">Email required!</small>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : editMemberForm.mobile_number.$invalid && !editMemberForm.mobile_number.$pristine }">
      <label for="mobile_number">Mobile Number <span>*</span></label>
      <div class="input-group">
        <input type="text"
               class="form-control"
               id="mobile_number"
               name="mobile_number"
               placeholder="Enter your mobile number"
               ng-model="rm_member.mobile_number"
               ng-pattern="/^[0-9]{10}$/"
               ng-class="{'error-box':(registrationForm.mobile_number.$invalid && (submitted || registrationForm.mobile_number.$touched || registrationForm.mobile_number.$dirty))}"
               required maxlength="10">
        <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
      </div>
      <small class="text-muted" ng-show="editMemberForm.mobile_number.$invalid && !editMemberForm.mobile_number.$pristine" class="help-block">Mobile Number required!</small>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : editMemberForm.zipcode.$invalid && !editMemberForm.zipcode.$pristine }">
        <label for="zipcode">Zipcode <span>*</span></label>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 id="zipcode"
                 name="zipcode"
                 placeholder="Enter your zipcode"
                 ng-model="rm_member.zipcode"
                 ng-pattern="/^[0-9]{6}$/"
                 ng-class="{'error-box':(registrationForm.zipcode.$invalid && (submitted || registrationForm.zipcode.$touched || registrationForm.zipcode.$dirty))}"
                 required maxlength="6">
          <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
        </div>
        <small class="text-muted" ng-show="editMemberForm.zipcode.$invalid && !editMemberForm.zipcode.$pristine" class="help-block">Zipcode required!</small>
      </div>

    <div class="form-group" ng-class="{ 'has-error' : editMemberForm.user_role.$invalid && !editMemberForm.user_role.$pristine }">
      <label for="user_role">Role <span>*</span></label>
      <div class="input-group">
        <input type="text" name="user_role" class="form-control" ng-model="rm_member.user_role" >
        <small ng-show="editMemberForm.user_role.$invalid && !editMemberForm.user_role.$pristine" class="help-block">select role!</small>
        <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : editMemberForm.designation.$invalid && !editMemberForm.designation.$pristine }">
      <label for="designation">Designation <span>*</span></label>
      <div class="input-group">
        <input type="text" class="form-control" name="designation" ng-model="rm_member.designation" id="designation" placeholder="Enter Designation" >
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      </div>
      <small class="text-muted" ng-show="editMemberForm.designation.$invalid && !editMemberForm.designation.$pristine" class="help-block">Designation required!</small>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : editMemberForm.address.$invalid && !editMemberForm.address.$pristine }">
      <label for="address">Address <span>*</span></label>
      <div class="input-group">
        <input type="text" class="form-control" name="address" ng-model="rm_member.address" id="address" placeholder="Enter Address" >
        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
      </div>
      <small class="text-muted" ng-show="editMemberForm.address.$invalid && !editMemberForm.address.$pristine" class="help-block">Address required!</small>
    </div>

    <!-- <div class="form-group" ng-class="{ 'has-error' : editMemberForm.avatar.$invalid && !editMemberForm.avatar.$pristine }">
        <label for="avatar">Profile Picture <span>*</span></label>
        <div class="input-group">
          <input type="file" class="form-control" name="avatar" ng-model="rm_member.address" id="avatar_update" required/>
          <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
        </div>
        <small class="text-muted" ng-show="editMemberForm.avatar.$invalid && !editMemberForm.avatar.$pristine" class="help-block">Profile Picture required!</small>
    </div> -->

    <div class="form-group" ng-class="{ 'has-error' : editMemberForm.description.$invalid && !editMemberForm.description.$pristine }">
        <label for="description">Description <span>*</span></label>
        <div class="input-group">
          <textarea rows="5" cols="50" name="description" class="form-control" ng-model="rm_member.description" id="description" placeholder="Enter Description ...." ></textarea>
        </div>
        <small class="text-muted" ng-show="editMemberForm.description.$invalid && !editMemberForm.description.$pristine" class="help-block">Description required!</small>
    </div>
   <div class="input-group">
    <button  class="btn btn-info" ng-disabled="editMemberForm.$invalid">Update</button>
  </div>
</form>

</div>

