<div class="col-md-3">
</div>
<div  class="col-md-6 subcontent responsive">
  <div class="col-md-12">
    <h3 style="text-align: center;">Forgot Password!</h3>
    <span class="req_msg">Please Fill out all required fields with (*) mark</span><br>
    <span class="req_msg" style="color: navy !important;font-size: 14px;">Please enter your email(user name) registered with our application</span>
    <div class="col-md-12 text-danger" ng-show="errmsg">{{errmsg}}</div>
    <div class="col-md-12 text-success" ng-show="successmsg">{{successmsg}}</div>
    <form name="ForgotLoginForm" ng-submit="getuserpassword(forgot.user_email,forgot.user_email)" novalidate>
      <!-- <div class="form-group" ng-class="{'has-error' : ForgotLoginForm.user_name.$invalid && !ForgotLoginForm.user_name.$pristine }">
        <label for="user_name">User Name <span>*</span></label>
        <div class="input-group">
          <input type="email" class="form-control" ng-model="forgot.user_name" name="user_name" id="user_name" placeholder="Enter User Name" required>
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
        </div>
        <small class="text-muted" ng-show="ForgotLoginForm.user_name.$invalid && !ForgotLoginForm.user_name.$pristine" class="help-block">User Name required!</small>
      </div> -->
      <div class="form-group" ng-class="{'has-error' : ForgotLoginForm.user_email.$invalid && !ForgotLoginForm.user_email.$pristine }">
        <label for="user_email">Email <span>*</span></label>
        <div class="input-group">
          <input type="email" class="form-control" ng-model="forgot.user_email" name="user_email" id="user_email" placeholder="Enter Email" required>
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
        </div>
        <small class="text-muted" ng-show="ForgotLoginForm.user_email.$invalid && !ForgotLoginForm.user_email.$pristine" class="help-block">Email required!</small>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-info" ng-disabled="ForgotLoginForm.$invalid">Get Password</button>
      </div>

      <div class="form-group">
        <span  class="text-muted info" ng-show="msg">{{msg.status}}</span>
        <span  class="text-muted info" ng-show="msg">you are registered on - {{msg.d}}</span>
        <span  class="text-muted danger" ng-show="!msg">{{errmsg.status}}</span>
      </div>
    </form>
  </div>

  <div class="col-md-12">
    <a ui-sref="login">Login</a>
  </div>

</div>

<div class="col-md-3"></div>



      
