<div class="col-md-3 col-sm-6 col-xs-6"></div>
	<div  class="col-md-6  col-sm-10 col-xs-10 lr_div responsive">
		<div class="col-md-1  col-sm-1 col-xs-1"></div>
		<div ui-sref="login" class="col-md-1 col-sm-4 col-xs-4 index_btn">
			<span>I am already a member</span>
			<div>Log In</div>
		</div>
		<div class="col-md-1  col-sm-2 col-xs-2"></div>
		<div ui-sref="register_as_trader" class="col-md-2  col-sm-4 col-xs-4 index_btn">
			<span>I am a New User?</span>
			<div>Register As Trader</div>
		</div>
		<div class="col-md-1  col-sm-2 col-xs-2"></div>
		<div ui-sref="register_as_consumer" class="col-md-2  col-sm-4 col-xs-4 index_btn">
			<span>I am a New User?</span>
			<div>Register As Consumer</div>
		</div>
		<div class="col-md-1  col-sm-1 col-xs-1"></div>
	</div>
<div class="col-md-3"></div>

